.authentication-body-login {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
    grid-template-areas:
    ". . . ."
    ". authentication-user-name-label authentication-user-name-label ."
    ". authentication-user-name authentication-user-name ."
    ". forgot-username forgot-username ."
    ". . . ."
    ". authentication-user-password-label authentication-user-password-label ."
    ". authentication-user-password authentication-user-password ."
    ". forgot-password forgot-password ."
    ". . . ."
    ". . verify-user ."
    ". . . ."
;
}
