:root {
    --s_one_main_color: white;
    --bg-opacity-white: rgba(255,255,255, .5)
}

.Home {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("../../assets/home_background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    width: 100vw;
    height: available;
    overflow: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    /*scrollbar-width: none;  !* FireFox *!*/
}

main::-webkit-scrollbar {
    display: none;
}

section {
    justify-content: center;
    width: available;
    height: 100vh;
    background-color: var(--bg-opacity-white);

}

/*section one styling starts here*/
#one {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 32px;
    color: var(--s_one_main_color);
    background-color: rgba(255,255,255, 0);
}

header {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 1.5em);
    height: 50px;
    margin: .5em auto 0 auto;
}

#logo {
    font-size: 45px;
    line-height: 30px;
    mix-blend-mode: difference;
}

#logo > a:link {
    text-decoration: none;
    color: var(--s_one_main_color);
}

#logo > a:visited {
    text-decoration: none;
    color: var(--s_one_main_color);
}

#logo > a:hover {
    text-decoration: none;
    color: var(--s_one_main_color);
}

#logo > a:active {
    text-decoration: none;
    color: var(--s_one_main_color);
}

nav {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile, #profile>img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-size: contain;
}

#subscribe {
    position: relative;
    width: 700px;
    height: 250px;
    top: 40%;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

#subscribe::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 250px;
    border: 15px var(--s_one_main_color) solid;
    mix-blend-mode: exclusion;
}

#sub-text{
    mix-blend-mode: exclusion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sub-title {
    font-size: calc(72px);
    color: var(--s_one_main_color);
}

#sub-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub-input-text {
    width: 60%;
    height: 50px;
    font-size: 36px;
    background-color: var(--s_one_main_color);
    opacity: 80%;
}

#sub-input-btn {
    width: 30%;
    height: 50px;
    font-size: 36px;
    mix-blend-mode: exclusion;
}

/*section two styling starts here*/
#two {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#two-info {
    width: 500px;
    font-size: 34px;
}

#artist-list {
    width: 500px;
    height: 600px;
    border: 15px solid var(--s_one_main_color);
    overflow: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    /*scrollbar-width: none;  !* FireFox *!*/
}

#artist-list::-webkit-scrollbar {
    display: none;
}

#three {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh / 12 * 2);
    font-size: 48px;
}

#week-list {
    width: 100%;
}