#upload {
    height: 100%;
}

#upload-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        ". . . . . ."
        ". song-upload-info song-upload-info song-upload-about song-upload-about ."
        ". song-upload-info song-upload-info song-upload-about song-upload-about ."
        ". song-upload-file song-upload-file song-upload-file song-upload-file ."
        ". . . . submit .";
    gap: 16px;
}

#upload-container, #upload-container > * > fieldset {
    height: 100%;
    width: 100%;
}

#upload-container > div > *{
    display: flex;
    justify-content: center;
    align-items: center;
}

#song-upload-info {
    grid-area: song-upload-info;
}

#song-upload-info > fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.song-upload-info-content {
    margin: 16px;
}

#song-upload-about {
    grid-area: song-upload-about;
}

#song-upload-story {
    width: calc(100% - 16px);
    height: calc(100% - 32px);
}

#song-upload-file {
    grid-area: song-upload-file;
}

#submit {
    grid-area: submit;
    display: flex;
    justify-content: center;
}

#submit-btn {
    height: 25px;
    width: 75px;
}