.Song {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 250px;
    border: 1px solid black;
    margin: 8px;
}

img {
    display: flex;
    flex-wrap: wrap;
    width: 198px;
    height: 200px;
}

.song-info {
    display: flex;
    flex-wrap: wrap;
}

label {
    width: 100px;
}